
/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* Open Sans Hebrew Condensed 400-regular */
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open_sans_hebrew_condensed/OpenSansHebrewCondensed-Regular.ttf');
}
/* Open Sans Hebrew Condensed 700-bold */
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open_sans_hebrew_condensed/OpenSansHebrewCondensed-Bold.ttf');
}
