@import "variables";
@import "fonts";

* {
  line-height: 1;
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    color: #333;
  }
}

body {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-weight: 400;
  font-size: 16px;
  background: $white;
}

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0px 10px;
  margin: 0 auto;
}
